body {
  min-height: 100vh;
  background-image: url('bg.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}
.bg1-text {
  font-size: 50px;

}
.bg1-img {
  width: 400px;
}
